.app-wrapper {
    background: -webkit-linear-gradient(315deg, #fedeb5 0%, #416074 100%);
    background: linear-gradient(135deg, #fedeb5 0%, #416074 100%);
    width: 360px;
    height: 600px;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    box-shadow: 10px 10px 10px -8px rgba(0, 0, 0, 0.35);
    margin-top: 10%;
}

.app-wrapper button:hover {
    cursor: pointer;
}

.app-wrapper button:focus {
    outline: none;
}

.todos-wrapper {
    overflow: scroll;
    height: 100%;
}

.form-wrapper {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    max-width: 360px;
    bottom: 0;
}

.form-wrapper input {
    font-family: 'quicksand';
    position: absolute;
    border: 0 none;
    width: 280px;
    height: 58px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 20px;
    padding-left: 15px;
}

.form-wrapper input:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.form-wrapper button {
    color: white;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.4);
    border: 0;
    padding: 0;
    width: 64px;
    height: 100%;
    right: 0;
}

.fa-check:before {
    content: "\f00c";
}

.fa-remove:before,
.fa-close:before,
.fa-times:before {
    content: "\f00d";
}

.form-wrapper button i {
    font-size: 40px;
    padding: 0 none;
}

.form-wrapper form {
    height: 60px;
}

.filters-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 60px;
    width: 100%;
    max-width: 360px;
}

.filters-wrapper button {
    color: white;
    font-family: 'quicksand';
    font-weight: 800;
    width: 100%;
    border: 0 none;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 12px;
    letter-spacing: 2px;
    padding: 10px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.filters-wrapper button:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.filters-wrapper button:focus {
    outline: none;
    background-color: rgba(0, 0, 0, 0.5);
}

.todos-wrapper {
    max-height: 480px;
    overflow: auto;
}

.todos-list {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 100%;
}

.todos-list li {
    height: 60px;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-bottom: 4px solid rgba(255, 255, 255, 0.2);
}

.todos-list button {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin: 10px;
    border: 0 none;
    background-color: rgba(0, 0, 0, 0.1);
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
}

.todos-list button i {
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: color .2s;
    transition: color .2s;
}

.todos-list button:hover {
    cursor: pointer;
}

.todos-list button:hover i {
    color: white;
}

.todos-list .toggle-todo {
    margin-left: auto;
}

.todos-list .remove-todo {
    margin-right: auto;
}

.todos-list .completed-todo {
    background-color: white;
}

.todos-list .completed-todo i {
    color: green;
}

.todos-list .completed-todo:hover i {
    color: green;
}

.todo-group-enter {
    opacity: 0;
    max-height: 0;
    -webkit-transform: translateX(-120%);
    transform: translateX(-120%);
}

.todo-group-enter.todo-group-enter-active {
    opacity: 1;
    max-height: 60px;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 200ms;
    transition: all 200ms;
}

.todo-group-leave {
    opacity: 1;
    max-height: 60px;
    -webkit-transform: translateX(0);
    transform: translateX(0);
}

.todo-group-leave.todo-group-leave-active {
    opacity: 0;
    -webkit-transform: translateX(-120%);
    transform: translateX(-120%);
    max-height: 0;
    -webkit-transition: all 200ms;
    transition: all 200ms;
}

.todos-list button i {
    margin: 2px 0 0 -4px;
}